<mat-card class="home mat-elevation-z4">
    <mat-card-title class="title"><p>&nbsp;</p> Bem Vindo! <p>&nbsp;</p></mat-card-title>
</mat-card>
<mat-card class="home mat-elevation-z4">
    <mat-card-subtitle class="subtitle">
        <p>&nbsp;</p>
        <p>Projeto Web Fullstack completo com tecnologias como <strong>Spring Boot</strong>, <strong>Angular</strong> 10 e 11, <strong>Heroku</strong>, <strong>JPA</strong>, <strong>Git</strong>, <strong>Github, MySQL</strong></p>
        <p>O Site fornece um gerenciamento de livros, onde podemos <u>listar</u>, <u>criar</u>, <u>editar</u> e <u>excluir</u> livros e categorias.</p>
        <p>&nbsp;</p>
        <p>Toda a aplica&ccedil;&atilde;o &eacute; organizada em commits sobre cada parte do projeto.<br />
            <a href="https://github.com/fabrizioabreu/bookstore-front" target="_blank"> <strong>Link</strong> </a></p>
        <p>&nbsp;</p>
        <p>Backend esta hospedado na plataforma Heroku: Ao utilizar o sistema e n&atilde;o aparecer as categorias, aguarde 30 segundos para os itens serem carregados.</p>
        <p>&nbsp;</p>
    </mat-card-subtitle>
</mat-card>